@use '../../../skin/var' as *;
@use '../../../skin/common/mixin' as *;

@include b(ellipsis) {
  box-sizing: content-box;
  overflow: hidden;

  @include e(ellipsis) {
    float: right;
  }

  @include e(content) {
    overflow-wrap: break-word;
  }
}
