@use '../../../skin/var' as *;
@use '../../../skin/common/mixin' as *;

@include b(avatar) {
  display: inline-block;
  overflow: hidden;
  border-radius: $avatar-square-radius;
  width: $avatar-size-regular;
  height: $avatar-size-regular;
  font-size: $avatar-font-size-regular;
  line-height: $avatar-size-regular;
  text-align: center;
  background: $avatar-background;

  // 尺寸
  @include m(big) {
    width: $avatar-size-big;
    height: $avatar-size-big;
    font-size: $avatar-font-size-big;
    line-height: $avatar-size-big;
  }

  @include m(small) {
    width: $avatar-size-small;
    height: $avatar-size-small;
    font-size: $avatar-font-size-small;
    line-height: $avatar-size-small;
  }

  @include m(mini) {
    width: $avatar-size-mini;
    height: $avatar-size-mini;
    font-size: $avatar-font-size-mini;
    line-height: $avatar-size-mini;
  }

  // 形状
  @include m(circle) {
    border-radius: 50%;
  }

  @include e(img) {
    display: block;
    width: 100%;
    height: 100%;
  }

  // pc端样式
  @include pc {
    border-radius: $avatar-square-radius-pc;
    width: $avatar-size-regular-pc;
    height: $avatar-size-regular-pc;
    font-size: $avatar-font-size-regular-pc;
    line-height: $avatar-size-regular-pc;

    // 尺寸
    @include m(big) {
      width: $avatar-size-big-pc;
      height: $avatar-size-big-pc;
      font-size: $avatar-font-size-big-pc;
      line-height: $avatar-size-big-pc;
    }

    @include m(small) {
      width: $avatar-size-small-pc;
      height: $avatar-size-small-pc;
      font-size: $avatar-font-size-small-pc;
      line-height: $avatar-size-small-pc;
    }

    @include m(mini) {
      width: $avatar-size-mini-pc;
      height: $avatar-size-mini-pc;
      font-size: $avatar-font-size-mini-pc;
      line-height: $avatar-size-mini-pc;
    }
  }
}
