@use '../../../skin/var' as *;
@use '../../../skin/common/mixin' as *;
@use '../../../skin/common/function' as *;

@include b(tag) {
  border: $tag-border-width-regular solid currentColor;
  border-radius: $tag-border-radius-regular;
  color: $tag-color-regular;
  display: inline-block;
  font-size: $tag-font-size-regular;
  line-height: 1;
  padding: $tag-padding-regular;

  @include e(close) {
    cursor: pointer;
    margin: $tag-close-margin;
  }

  // 色调
  @include m(primary) {
    color: $tag-color-primary;
  }

  @include m(success) {
    color: $tag-color-success;
  }

  @include m(fail) {
    color: $tag-color-fail;
  }

  // 尺寸
  @include m(big) {
    border-radius: $tag-border-radius-big;
    border-width: $tag-border-width-big;
    font-size: $tag-font-size-big;
    padding: $tag-padding-big;
  }

  @include m(small) {
    border-radius: $tag-border-radius-small;
    border-width: $tag-border-width-small;
    font-size: $tag-font-size-small;
    padding: $tag-padding-small;
  }

  @include m(mini) {
    border-radius: $tag-border-radius-mini;
    border-width: $tag-border-width-mini;
    font-size: $tag-font-size-mini;
    padding: $tag-padding-mini;
  }

  // 类型
  @include m(plain) {
    background: light-background($tag-color-regular);

    @include m(primary) {
      background: light-background($tag-color-primary);
    }

    @include m(success) {
      background: light-background($tag-color-success);
    }

    @include m(fail) {
      background: light-background($tag-color-fail);
    }
  }

  @include m(gorgeous) {
    background: $tag-color-regular;
    border-color: transparent;
    color: $color-white;

    // 色调
    @include m(primary) {
      background: $tag-color-primary;
    }

    @include m(success) {
      background: $tag-color-success;
    }

    @include m(fail) {
      background: $tag-color-fail;
    }
  }

  // pc端
  @include pc {
    border-radius: $tag-border-radius-pc;
    border-width: $tag-border-width-pc;
    box-sizing: border-box;
    font-size: $tag-font-size-pc;
    padding: $tag-padding-regular-pc;

    // 尺寸
    @include m(big) {
      padding: $tag-padding-big-pc;
    }

    @include m(regular) {
      padding: $tag-padding-regular-pc;
    }

    @include m(small) {
      padding: $tag-padding-small-pc;
    }

    @include m(mini) {
      padding: $tag-padding-mini-pc;
    }

    @include e(close) {
      margin: $tag-close-margin-pc;
    }
  }
}
