node_modules
dist
!**/vue-run-sfc/dist
/lib
/pnpm-lock.yaml
/package-lock.json
/yarn.lock

!/.browserslistrc

!/.eslint-config.js

!/.eslintrc.js

!/.prettierrc.js

!/.stylelintrc.js

!/commitlint.config.js

!/.vscode/settings.json

!/.vscode/extensions.json

!/.gitignore

!/package.json
