@import "../../../assets/style/base";
@import "../../../assets/style/default/mixin";

@name: ~"@{lib-name}-pagination";
@disabled: ~"@{lib-name}-disabled";
@selected: ~"@{lib-name}-selected";

html:not([@{skin-attr}]) {
  .@{name} {
    display: inline-flex;
    color: @pagination-color;
    font-size: @pagination-font-size;
    line-height: @pagination-line-height;
    text-align: center;
    user-select: none;

    &-btn {
      flex-shrink: 0;
      border: @pagination-border-width solid @pagination-border-color;
      padding: @pagination-padding;
      min-width: @pagination-btn-min-width;
      color: inherit;
      .a();

      &:not([@{disabled}]) {
        .click();
      }

      &[@{disabled}] {
        color: @pagination-disabled-color;
      }
    }

    > div {
      display: inline-flex;
      flex-shrink: 0;

      a {
        box-sizing: border-box;
        margin-left: @pagination-spacing;
        padding: @pagination-padding;
        min-width: @pagination-line-height + 2 * @pagination-border-width;
        color: inherit;
        cursor: pointer;
        .a();

        &:last-child {
          margin-right: @pagination-spacing;
        }

        &:not([@{disabled}]) {
          border: @pagination-border-width solid @pagination-border-color;
          .click();
        }
      }
    }

    &-prompt {
      flex-shrink: 0;
      margin: @pagination-prompt-spacing;
      align-self: baseline;
    }

    input {
      margin: @pagination-input-spacing;
      border: @pagination-border-width solid @pagination-border-color;
      padding: @pagination-padding;
      width: @pagination-input-width;
      line-height: inherit;
      text-align: center;
      outline: none;
    }

    > div a[@{selected}],
    > div a:not([@{disabled}]):hover,
    &-btn:not([@{disabled}]):hover {
      color: @pagination-highlight-color;
      border-color: @pagination-highlight-border-color;
    }

    [@{disabled}], [@{selected}] {
      cursor: not-allowed !important;
    }
  }
}