@import "../../../assets/style/base";

@name: vui-switch;

html:not([@{skin-attr}]) {
  .@{name} {
    position: relative;
    display: inline-block;
    width: 1.35rem;
    height: .8rem;
    background: #dfdfdf center / contain no-repeat;
    background-origin: border-box;
    border: .03rem solid transparent;
    border-radius: .43rem / 50%;
    transition: background .35s;

    > :first-child {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: .4rem / 50%;
      transition: transform .35s cubic-bezier(0.45, 1, 0.4, 1);
    }

    > :last-child {
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      transform: translateX(100%);
      width: .8rem;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 .03rem .09rem rgba(0, 0, 0, 0.4);
      transition: .35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
      transition-property: right, transform;
    }

    &-checked {
      > :first-child {
        transform: scale(0);
      }

      > :last-child {
        right: 0;
        transform: none;
      }
    }

    &-disabled {
      opacity: .6;
    }

    /*pc样式*/
    &[@{pc-attr}] {
      .@{name} {
        width: 50px;
        height: 30px;
        border-width: 1px;
        border-radius: 16px / 50%;

        > :first-child {
          border-radius: 15px / 50%;
        }

        > :last-child {
          width: 30px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}