@import "../../../assets/style/base";
@import "../../../assets/style/default/index";

@name: ~"@{lib-name}-picker";
@v3d: ~"@{lib-name}-3d";
@visible: ~"@{lib-name}-visible";

html:not([@{skin-attr}]) {
  .@{name} {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 100%;
    color: @picker-item-color;
    font-size: @picker-item-font-size;
    line-height: @picker-item-line-height;
    text-align: center;

    &-column {
      display: flex;
      flex-direction: column;
      flex: auto;
      // 防止某些浏览器中列之间出现间隙
      margin-left: -1PX;
    }

    &-label {
      padding: @picker-label-padding;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-content {
      position: relative;
      display: flex;
      flex: auto;
      flex-direction: column;
      justify-content: center;
      min-height: 5 * @picker-item-line-height;
      overflow: hidden;
    }

    &-zoom {
      pointer-events: none;
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: @picker-item-highlight-height;
      color: @picker-item-highlight-color;
      font-size: @picker-item-highlight-font-size;
      background: @picker-item-highlight-bg;
    }

    &-list {
      height: @picker-item-line-height;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      &::before {
        content: attr(data-value);
        padding: 0 .25em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    /*3D样式*/
    &[@{v3d}] {
      .@{name}-content {
        perspective: 50000px;
      }

      .@{name}-list {
        transform-style: preserve-3d;
      }

      .@{name}-item {
        float: left;
        width: 100%;
        height: 100%;
        visibility: hidden;
        backface-visibility: hidden;

        &:not(:first-child) {
          margin-left: -100%;
        }

        &[@{visible}] {
          visibility: visible;
        }
      }
    }
  }
}