@use '../../../skin/var' as *;
@use '../../../skin/common/mixin' as *;
@use '../../../skin/common/function' as *;
@use '../../overlayer/style/index' as *;

@include b(popup) {
  $block: &;

  @include m(nolayer) {
    .#{get-block-selector(overlayer)}__layer {
      display: none;
    }
  }

  @include e(content) {
    position: fixed;
    @include m(up) {
      bottom: 0;
      left: 0;
      right: 0;
    }
    @include m(down) {
      left: 0;
      right: 0;
      top: 0;
    }

    @include m(left) {
      bottom: 0;
      right: 0;
      top: 0;
    }

    @include m(right) {
      bottom: 0;
      left: 0;
      top: 0;
    }
  }

  @include e(box) {
    height: 100%;
  }

  // pc端样式
}
