@use './config' as *;
@use './function' as *;

// BEM
@mixin b($block) {
  $selector: get-block-selector($block);

  // 祖先选择器中不包含block块时才更新$b
  @if not contain-block(&) {
    $b: $selector !global;
  }

  #{if(&, '&', '')} .#{$selector} {
    @content;
  }
}

@mixin e($elements) {
  $selector: "";

  @each $parent in & {
    @if contain-element($parent) or contain-modifier($parent) {
      // 父选择器已经包含了EM，进行选择器嵌套
      @each $element in $elements {
        $selector: #{$selector + "." + $b + $element-separator + $element + ","};
      }

      @at-root {
        #{$parent} {
          #{$selector} {
            @content;
          }
        }
      }
    } @else {
      // 父选择器未包含EM，在选择器后面加上E
      @each $element in $elements {
        $selector: #{$selector + $parent + $element-separator + $element + ","};
      }

      @at-root {
        #{$selector} {
          @content;
        }
      }
    }
  }
}

@mixin m($modifiers) {
  $selector: "";

  @each $parent in & {
    @if contain-modifier($parent) {
      // 父选择器已经包含M，则组合选择器
      @each $modifier in $modifiers {
        $prefix: selector-to-string($parent);
        $index: str-index($prefix, $modifier-separator);
        $prefix: str-slice($prefix, 1, $index - 1);
        $selector: #{$selector + $parent + $prefix + $modifier-separator + $modifier + ","};
      }
    } @else {
      @each $modifier in $modifiers {
        $selector: #{$selector + $parent + $modifier-separator + $modifier + ","};
      }
    }
  }

  @at-root {
    #{$selector} {
      @content;
    }
  }
}

// pc端样式
@mixin pc {
  @at-root {
    html.#{$pc-class-name} & {
      @content;
    }
  }
}
