@use '../var' as *;
@use './config' as *;

// 淡入淡出
.#{$namespace}-fade-enter-active {
  transition: opacity $transition-fade-in;
}

.#{$namespace}-fade-leave-active {
  transition: opacity $transition-fade-out;
}

.#{$namespace}-fade-enter,
.#{$namespace}-fade-leave-active {
  opacity: 0;
}

// 缩放
.#{$namespace}-zoom-enter-active {
  transition: transform $transition-zoom-in;
}

.#{$namespace}-zoom-leave-active {
  transition: transform $transition-zoom-out;
}

.#{$namespace}-zoom-enter,
.#{$namespace}-zoom-leave-active {
  transform: scale(0);
}

// 滑入滑出
.#{$namespace}-slide-left-enter-active,
.#{$namespace}-slide-right-enter-active,
.#{$namespace}-slide-top-enter-active,
.#{$namespace}-slide-bottom-enter-active {
  transition: transform $transition-slide-in;
}

.#{$namespace}-slide-left-leave-active,
.#{$namespace}-slide-right-leave-active,
.#{$namespace}-slide-top-leave-active,
.#{$namespace}-slide-bottom-leave-active {
  transition: transform $transition-slide-out;
}

.#{$namespace}-slide-left-enter,
.#{$namespace}-slide-left-leave-active {
  transform: translate3d(-100%, 0, 0);
}

.#{$namespace}-slide-right-enter,
.#{$namespace}-slide-right-leave-active {
  transform: translate3d(100%, 0, 0);
}

.#{$namespace}-slide-top-enter,
.#{$namespace}-slide-top-leave-active {
  transform: translate3d(0, -100%, 0);
}

.#{$namespace}-slide-bottom-enter,
.#{$namespace}-slide-bottom-leave-active {
  transform: translate3d(0, 100%, 0);
}
