@import "../../../assets/style/base";
@import "../../../assets/style/default/mixin";

@name: ~"@{lib-name}-icon";

.@{name}-svg-symbols {
  display: none;

  [fill] {
    fill: currentColor;
  }

  [fill*="none"] {
    fill: none;
  }

  [stroke] {
    stroke: currentColor;
  }

  [stroke*="none"] {
    stroke: none;
  }
}

html:not([@{skin-attr}]) {
  .@{name} {
    display: inline-block;
    width: 1em; 
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    stroke: currentColor;
    overflow: hidden;
    .click();

    &[data-disabled] {
      .disabled();
    }
  }
}