@import "../../../assets/style/base";

@name: vui-load-more;

html:not([@{skin-attr}]) {
  .@{name} {
    overflow: auto;

    &-left,
    &-right {
      writing-mode: vertical-lr;
      width: 100%;
      .vui-load-more-content {
        writing-mode: horizontal-tb;
        min-width: 100%;
      }
    }

    &-loading {
      position: relative;
      overflow: hidden;
      font-size: 0;
      line-height: 1rem;
      text-align: center;
      > div {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        .@{name}-right & {
          left: auto;
          right: 0;
        }
      }
    }

    &-top &-content,
    &-bottom &-content {
      min-height: 100%;
    }

    &-bottom &-loading > div {
      top: auto;
      bottom: 0;
    }

    &-left, &-right {
      .@{name}-loading > div {
        top: 0;
        bottom: 0;
        left: 0;
        right: auto;
      }
    }

    &-icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: .2rem;
      width: .7rem;
      height: .7rem;
      background: center no-repeat;
      background-size: contain;
    }

    &-text {
      vertical-align: middle;
      color: #d37123;
      font-size: .5rem;
    }
  }
}