@use '../../../skin/var' as *;
@use '../../../skin/common/function' as *;
@use '../../../skin/common/mixin' as *;
@use '../../transition/style/index' as *;
@use '../../overlayer/style/index' as *;
@use '../../button/style/index' as *;

@include b(dialog) {
  $popup-bottom: #{get-block-selector(transition)}-popup-bottom;

  @include e(wrapper) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: $dialog-border-radius;
    padding: $dialog-padding;
    width: $dialog-width;
    background: $dialog-background;

    &:not(.#{$popup-bottom}-enter):not(.#{$popup-bottom}-leave-active) {
      transform: translateY(-$dialog-spacing-bottom);
    }
  }

  @include e(close) {
    display: none;
  }

  @include e(header) {
    padding: $dialog-header-padding;
    color: $dialog-title-color;
    font-size: $dialog-title-font-size;
    line-height: $dialog-title-line-height;
    text-align: center;
  }

  @include e(content) {
    padding: $dialog-content-padding;
    color: $dialog-content-color;
    font-size: $dialog-content-font-size;
    line-height: $dialog-content-line-height;
    text-align: justify;
  }

  @include e(footer) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $dialog-footer-padding;
    font-size: $dialog-footer-font-size;

    @include b(button) {
      flex: auto;
      max-width: $dialog-button-max-width;
    }

    .#{get-block-selector(button)} + .#{get-block-selector(button)} {
      margin-left: $dialog-button-spacing;
    }
  }

  // pc端样式
  @include pc {
    @include e(wrapper) {
      bottom: 50%;
      border-radius: $dialog-border-radius-pc;
      padding: $dialog-padding-pc;
      width: $dialog-width-pc;
      max-width: $dialog-max-width-pc;
      min-width: $dialog-min-width-pc;

      &:not(.#{$popup-bottom}-enter):not(.#{$popup-bottom}-leave-active) {
        transform: translateY(50%);
      }

      &.#{$popup-bottom}-enter-active,
      &.#{$popup-bottom}-leave-active {
        transition-property: transform, opacity;
      }

      &.#{$popup-bottom}-enter,
      &.#{$popup-bottom}-leave-active {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
      }
    }

    @include e(close) {
      display: block;
      position: absolute;
      right: $dialog-close-right-pc;
      top: $dialog-close-top-pc;
      padding: 0.5em;
      font-size: $dialog-close-size-pc;
      cursor: pointer;
    }

    @include e(header) {
      padding: $dialog-header-padding-pc;
      font-size: $dialog-title-font-size-pc;
      line-height: $dialog-title-line-height-pc;
    }

    @include e(content) {
      padding: $dialog-content-padding-pc;
      font-size: $dialog-content-font-size-pc;
      line-height: $dialog-content-line-height-pc;
    }

    @include e(footer) {
      padding: $dialog-footer-padding-pc;
      font-size: $dialog-footer-font-size-pc;
    }
  }
}
