@use '../../../skin/var' as *;
@use '../../../skin/common/mixin' as *;
@use '../../../skin/common/function' as *;

@include b(button) {
  $block: &;

  outline: none;
  border: $button-border-width solid currentColor;
  border-radius: $button-radius-regular;
  padding: $button-padding-regular;
  background: transparent;
  color: $button-color-regular;
  font-size: $button-font-size-regular;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;

  // 禁用状态
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
  }

  // 按钮间间距
  & + & {
    margin-left: $button-spacing-regular;
  }

  // 普通按钮色调
  &:not([disabled]):hover {
    background: mix($color-white, $button-color-regular, 90%);
  }

  &:not([disabled]):active {
    background: mix($color-white, $button-color-regular, 80%);
  }

  @include m(primary) {
    color: $button-color-primary;

    &:not([disabled]):hover {
      background: mix($color-white, $button-color-primary, 90%);
    }

    &:not([disabled]):active {
      background: mix($color-white, $button-color-primary, 80%);
    }
  }

  @include m(success) {
    color: $button-color-success;

    &:not([disabled]):hover {
      background: mix($color-white, $button-color-success, 90%);
    }

    &:not([disabled]):active {
      background: mix($color-white, $button-color-success, 80%);
    }
  }

  @include m(fail) {
    color: $button-color-fail;

    &:not([disabled]):hover {
      background: mix($color-white, $button-color-fail, 90%);
    }

    &:not([disabled]):active {
      background: mix($color-white, $button-color-fail, 80%);
    }
  }

  // 尺寸
  @include m(big) {
    border-radius: $button-radius-big;
    padding: $button-padding-big;
    font-size: $button-font-size-big;

    #{$block} + & {
      margin-left: $button-spacing-big;
    }
  }

  @include m(small) {
    border-radius: $button-radius-small;
    padding: $button-padding-small;
    font-size: $button-font-size-small;

    #{$block} + & {
      margin-left: $button-spacing-small;
    }
  }

  @include m(mini) {
    border-radius: $button-radius-mini;
    padding: $button-padding-mini;
    font-size: $button-font-size-mini;

    #{$block} + & {
      margin-left: $button-spacing-mini;
    }
  }

  // 圆角、圆形
  @include m(round) {
    border-radius: #{$button-font-size-regular/2 + get-side($button-padding-regular, top) + $button-border-width} / 50%;

    @include m(big) {
      border-radius: #{$button-font-size-big/2 + get-side($button-padding-big, top) + $button-border-width} / 50%;
    }

    @include m(small) {
      border-radius: #{$button-font-size-small/2 + get-side($button-padding-small, top) + $button-border-width} / 50%;
    }

    @include m(mini) {
      border-radius: #{$button-font-size-mini/2 + get-side($button-padding-mini, top) + $button-border-width} / 50%;
    }
  }

  @include m(circle) {
    padding: 0.7em;
    border-radius: 50%;
  }

  // 块级按钮
  @include m(block) {
    display: block;
    width: 100%;
  }

  // 实心背景
  @include m(gorgeous) {
    background: $button-color-regular;
    color: #fff;

    &:not([disabled]):hover {
      border-color: mix($color-white, $button-color-regular, 20%);
      background: mix($color-white, $button-color-regular, 20%);
    }

    &:not([disabled]):active {
      border-color: mix($color-black, $button-color-regular, 10%);
      background: mix($color-black, $button-color-regular, 10%);
    }

    // 色调
    @include m(primary) {
      border-color: $button-color-primary;
      background: $button-color-primary;

      &:not([disabled]):hover {
        border-color: mix($color-white, $button-color-primary, 20%);
        background: mix($color-white, $button-color-primary, 20%);
      }

      &:not([disabled]):active {
        border-color: mix($color-black, $button-color-primary, 10%);
        background: mix($color-black, $button-color-primary, 10%);
      }
    }

    @include m(success) {
      border-color: $button-color-success;
      background: $button-color-success;

      &:not([disabled]):hover {
        border-color: mix($color-white, $button-color-success, 20%);
        background: mix($color-white, $button-color-success, 20%);
      }

      &:not([disabled]):active {
        border-color: mix($color-black, $button-color-success, 10%);
        background: mix($color-black, $button-color-success, 10%);
      }
    }

    @include m(fail) {
      border-color: $button-color-fail;
      background: $button-color-fail;

      &:not([disabled]):hover {
        border-color: mix($color-white, $button-color-fail, 20%);
        background: mix($color-white, $button-color-fail, 20%);
      }

      &:not([disabled]):active {
        border-color: mix($color-black, $button-color-fail, 10%);
        background: mix($color-black, $button-color-fail, 10%);
      }
    }
  }

  // 渐变按钮
  @include m(gradient) {
    color: #fff;
    border-color: transparent;
    background: linear-gradient(
        to right,
        mix($color-white, $button-color-regular, 5%),
        mix($color-black, $button-color-regular, 20%)
      )
      border-box;

    &:not([disabled]):hover {
      background: linear-gradient(
          to right,
          mix($color-white, mix($color-white, $button-color-regular, 20%), 20%),
          mix($color-white, mix($color-black, $button-color-regular, 20%), 20%)
        )
        border-box;
    }

    &:not([disabled]):active {
      background: linear-gradient(
          to right,
          mix($color-black, mix($color-white, $button-color-regular, 20%), 10%),
          mix($color-black, mix($color-black, $button-color-regular, 20%), 10%)
        )
        border-box;
    }

    @include m(primary) {
      background: linear-gradient(
          to right,
          mix($color-white, $button-color-primary, 20%),
          mix($color-black, $button-color-primary, 20%)
        )
        border-box;

      &:not([disabled]):hover {
        background: linear-gradient(
            to right,
            mix($color-white, mix($color-white, $button-color-primary, 20%), 20%),
            mix($color-white, mix($color-black, $button-color-primary, 20%), 20%)
          )
          border-box;
      }

      &:not([disabled]):active {
        background: linear-gradient(
            to right,
            mix($color-black, mix($color-white, $button-color-primary, 20%), 10%),
            mix($color-black, mix($color-black, $button-color-primary, 20%), 10%)
          )
          border-box;
      }
    }

    @include m(success) {
      background: linear-gradient(
          to right,
          mix($color-white, $button-color-success, 20%),
          mix($color-black, $button-color-success, 20%)
        )
        border-box;

      &:not([disabled]):hover {
        background: linear-gradient(
            to right,
            mix($color-white, mix($color-white, $button-color-success, 20%), 20%),
            mix($color-white, mix($color-black, $button-color-success, 20%), 20%)
          )
          border-box;
      }

      &:not([disabled]):active {
        background: linear-gradient(
            to right,
            mix($color-black, mix($color-white, $button-color-success, 20%), 10%),
            mix($color-black, mix($color-black, $button-color-success, 20%), 10%)
          )
          border-box;
      }
    }

    @include m(fail) {
      background: linear-gradient(
          to right,
          mix($color-white, $button-color-fail, 20%),
          mix($color-black, $button-color-fail, 20%)
        )
        border-box;

      &:not([disabled]):hover {
        background: linear-gradient(
            to right,
            mix($color-white, mix($color-white, $button-color-fail, 20%), 20%),
            mix($color-white, mix($color-black, $button-color-fail, 20%), 20%)
          )
          border-box;
      }

      &:not([disabled]):active {
        background: linear-gradient(
            to right,
            mix($color-black, mix($color-white, $button-color-fail, 20%), 10%),
            mix($color-black, mix($color-black, $button-color-fail, 20%), 10%)
          )
          border-box;
      }
    }
  }

  // 颜色淡一些的实心背景
  @include m(plain) {
    border-color: mix($color-white, $button-color-regular, 50%);
    background-color: mix($color-white, $button-color-regular, 90%);

    &:not([disabled]):hover {
      color: #fff;
      border-color: $button-color-regular;
      background: $button-color-regular;
    }

    &:not([disabled]):active {
      border-color: mix($color-black, $button-color-regular, 10%);
      background: mix($color-black, $button-color-regular, 10%);
    }

    @include m(primary) {
      border-color: mix($color-white, $button-color-primary, 50%);
      background-color: mix($color-white, $button-color-primary, 90%);

      &:not([disabled]):hover {
        border-color: $button-color-primary;
        background: $button-color-primary;
      }

      &:not([disabled]):active {
        border-color: mix($color-black, $button-color-primary, 10%);
        background: mix($color-black, $button-color-primary, 10%);
      }
    }

    @include m(success) {
      border-color: mix($color-white, $button-color-success, 50%);
      background-color: mix($color-white, $button-color-success, 90%);

      &:not([disabled]):hover {
        border-color: $button-color-success;
        background: $button-color-success;
      }

      &:not([disabled]):active {
        border-color: mix($color-black, $button-color-success, 10%);
        background: mix($color-black, $button-color-success, 10%);
      }
    }

    @include m(fail) {
      border-color: mix($color-white, $button-color-fail, 50%);
      background-color: mix($color-white, $button-color-fail, 90%);

      &:not([disabled]):hover {
        border-color: $button-color-fail;
        background: $button-color-fail;
      }

      &:not([disabled]):active {
        border-color: mix($color-black, $button-color-fail, 10%);
        background: mix($color-black, $button-color-fail, 10%);
      }
    }
  }

  // 纯文本按钮
  @include m(text) {
    display: inline-block;
    border: none;
    padding: 0;
    width: auto;
    line-height: inherit;
    background: none;

    &:not([disabled]):hover {
      background: none;
      opacity: 0.8;
    }

    &:not([disabled]):active {
      background: none;
      opacity: 1;
    }
  }

  // pc端样式
  @include pc {
    font-size: 34px;

    @include e(e) {
      color: #333;

      @include m((m1, m2)) {
        background: white;
      }
    }
  }
}
