@use '../../../skin/var' as *;
@use '../../../skin/common/mixin';
@use '../../../skin/common/function' as *;

@include mixin.B(button) {
  outline: none;
  border: $button-border-width solid currentColor;
  border-radius: $button-radius-regular;
  padding: $button-padding-regular;
  color: $button-color-regular;
  font-size: $button-font-size-regular;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;

  // 实心背景
  @include mixin.M(gorgeous) {
    border-color: $button-color-regular;
    background: $button-color-regular;
    color: #fff;

    // 色调
    @include mixin.M(primary) {
      border-color: $button-color-primary;
      background: $button-color-primary;
    }

    @include mixin.M(success) {
      border-color: $button-color-success;
      background: $button-color-success;
    }

    @include mixin.M(fail) {
      border-color: $button-color-fail;
      background: $button-color-fail;
    }

    @include mixin.M(warning) {
      border-color: $button-color-warning;
      background: $button-color-warning;
    }
  }

  // 颜色淡一些的实心背景
  @include mixin.M(plain) {
    border-color: lighten($button-color-regular, 20%);
    background-color: lighten($button-color-regular, 40%);

    @include mixin.M(primary) {
      border-color: lighten($button-color-primary, 20%);
      background-color: lighten($button-color-primary, 35%);
      color: $button-color-primary;
    }

    @include mixin.M(success) {
      border-color: lighten($button-color-success, 20%);
      background-color: lighten($button-color-success, 40%);
      color: $button-color-success;
    }

    @include mixin.M(fail) {
      border-color: lighten($button-color-fail, 20%);
      background-color: lighten($button-color-fail, 40%);
      color: $button-color-fail;
    }

    @include mixin.M(warning) {
      border-color: lighten($button-color-warning, 20%);
      background-color: lighten($button-color-warning, 40%);
      color: $button-color-warning;
    }
  }

  // 渐变按钮
  @include mixin.M(gradient) {
  }

  // 纯文本按钮
  @include mixin.M(text) {
    border: none;
    padding: 0 !important;
    line-height: inherit;
    background: transparent;
  }

  // 尺寸
  @include mixin.M(big) {
    border-radius: $button-radius-big;
    padding: $button-padding-big;
    font-size: $button-font-size-big;
  }

  @include mixin.M(small) {
    border-radius: $button-radius-small;
    padding: $button-padding-small;
    font-size: $button-font-size-small;
  }

  @include mixin.M(mini) {
    border-radius: $button-radius-mini;
    padding: $button-padding-mini;
    font-size: $button-font-size-mini;
  }

  // 圆角
  @include mixin.M(round) {
    border-radius: #{$button-font-size-regular/2 + get-side($button-padding-regular, top) + $button-border-width} / 50%;

    @include mixin.M(big) {
      border-radius: #{$button-font-size-big/2 + get-side($button-padding-big, top) + $button-border-width} / 50%;
    }

    @include mixin.M(small) {
      border-radius: #{$button-font-size-small/2 + get-side($button-padding-small, top) + $button-border-width} / 50%;
    }

    @include mixin.M(mini) {
      border-radius: #{$button-font-size-mini/2 + get-side($button-padding-mini, top) + $button-border-width} / 50%;
    }
  }

  @include mixin.M(circle) {
    padding: 0.7em;
    border-radius: 50%;
  }

  // pc端样式
  @include mixin.pc {
    font-size: 34px;

    @include mixin.E(e) {
      color: #333;

      @include mixin.M((m1, m2)) {
        background: white;
      }
    }
  }
}
