@use '../../../skin/var' as *;
@use '../../../skin/common/mixin' as *;

@include b(transition) {
  @include e(disabled) {
    transition: none !important;
  }

  // 清除浮动
  &::after {
    clear: both;
    content: "";
    display: block;
  }

  // *不会匹配伪元素
  > * {
    box-sizing: border-box;
    float: left;
    // 任何情况下过渡，transition组件都会将enter元素添加到尾部，这里利用opacity不为1时形成层叠上下文，保证层叠顺序跟元素dom顺序一致
    opacity: 0.99;
    width: 100%;

    /*
      第一个非display:none的元素必须要有高度，否则后面的元素会移动到容器外
      这里的:first-child应该是指的排除display:none的元素后的第一个，由于选择器的局限性就没排除，不过正常情况下也不会出现这种情况
    */
    &:first-child {
      min-height: 1px;

      ~ * {
        margin-left: -100%;
      }
    }
  }

  // 淡入淡出
  &-fade {
    &-enter-active {
      /* 必须指定property，防止enter大于leave的过渡时间，导致过渡margin-left */
      transition: opacity $transition-fade-in;
    }

    &-leave-active {
      transition: opacity $transition-fade-out;
    }

    &-enter,
    &-leave-to {
      opacity: 0;
    }
  }

  // 缩放
  &-zoom {
    &-enter-active {
      transition: transform $transition-zoom-in;
    }

    &-leave-active {
      transition: transform $transition-zoom-out;
    }

    &-enter,
    &-leave-to {
      transform: scale(0);
    }
  }

  // 弹出
  &-popup {
    &-left-enter-active,
    &-right-enter-active,
    &-top-enter-active,
    &-bottom-enter-active {
      transition: transform $transition-popup-in;
    }

    &-left-leave-active,
    &-right-leave-active,
    &-top-leave-active,
    &-bottom-leave-active {
      transition: transform $transition-popup-out;
    }

    &-left-enter,
    &-left-leave-to {
      transform: translate3d(-100%, 0, 0);
    }

    &-right-enter,
    &-right-leave-to {
      transform: translate3d(100%, 0, 0);
    }

    &-top-enter,
    &-top-leave-to {
      transform: translate3d(0, -100%, 0);
    }

    &-bottom-enter,
    &-bottom-leave-to {
      transform: translate3d(0, 100%, 0);
    }
  }

  // 折叠展开
  &-slide {
    &-hz {
      &-enter {
        width: 0 !important;

        &-active {
          overflow: hidden;
          transition: width $transition-slide-in;
        }
      }

      &-leave {
        &-active {
          overflow: hidden;
          transition: width $transition-slide-out;
        }

        &-to {
          width: 0 !important;
        }
      }
    }

    &-vt {
      &-enter {
        height: 0 !important;

        &-active {
          overflow: hidden;
          transition: height $transition-slide-in;
        }
      }

      &-leave {
        &-active {
          overflow: hidden;
          transition: height $transition-slide-out;
        }

        &-to {
          height: 0 !important;
        }
      }
    }
  }
}
