@use '../../../skin/var' as *;
@use '../../../skin/common/mixin' as *;
@use '../../../skin/common/function' as *;
@use '../../overlayer/style/index' as *;
@use '../../button/style/index' as *;
// 从npm包中引入文件，需要加~前缀
@use "~photoswipe/src/css/main-settings" as *;
@import "~photoswipe/dist/photoswipe.css";
@import "~photoswipe/dist/default-skin/default-skin.css";

@include b(image-previewer) {
  @include e(overlayer) {
    visibility: hidden;
  }

  @include e(placeholder) {
    display: none;
  }

  @include e(error) {
    background: url("../image/error.png") center top / auto $image-previewer-error-padding-top no-repeat;
    height: auto !important;
    padding-top: $image-previewer-error-padding-top;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100% !important;
  }

  @include e(reload) {
    margin: $image-previewer-reload-margin-top;
  }

  @include e(download) {
    background: url(../image/download.png) center / contain no-repeat;
    bottom: $image-previewer-download-bottom;
    cursor: pointer;
    display: none;
    height: $image-previewer-download-height;
    opacity: 0.75;
    position: absolute;
    right: $image-previewer-download-right;
    transition: opacity $pswp__controls-transition-duration cubic-bezier(0.4, 0, 0.22, 1);
    width: $image-previewer-download-width;

    .pswp__ui--idle & {
      opacity: 0;
    }
  }

  @include pc {
    .pswp__top-bar {
      transform: none;
    }

    // 保证loading icon水平居中
    .pswp__preloader {
      left: 50%;
    }
  }

  // 移动端放大按钮
  .pswp__top-bar {
    transform: scale($image-previewer-button-scale);
    transform-origin: right top;
  }

  // 保证loading icon水平、垂直居中
  .pswp__preloader {
    left: 80%;
    top: 20vh;
  }

  .pswp__button--arrow--left {
    transform: scale($image-previewer-button-scale);
    transform-origin: left center;
  }

  .pswp__button--arrow--right {
    transform: scale($image-previewer-button-scale);
    transform-origin: right center;
  }

  .pswp__counter {
    bottom: $image-previewer-counter-bottom;
    font-size: $image-previewer-counter-font-size;
    left: $image-previewer-counter-left;
    line-height: $image-previewer-counter-line-height;
    padding: 0;
    top: auto;
  }
}
