@import "../../../assets/style/base";
@import "../../../assets/style/default/mixin";

html:not([@{skin-attr}]) {
  @name: ~"@{lib-name}-dialog";
  @cutover: ~"@{lib-name}-cutover";

  .@{name} {
    .@{cutover} {
      position: relative;
      z-index: 0;

      // 过渡效果
      &-dialog {
        &-enter,
        &-leave-active {
          bottom: 0;
          transform: translateY(100%);
        }

        //&-enter-active {
        //  transition-timing-function: cubic-bezier(.28, .85, .36, 1);
        //}
        //
        //&-leave-active {
        //  transition-timing-function: cubic-bezier(.4, 0, 1, 1);
        //}
      }
    }

    &-box {
      position: fixed;
      left: 50%;
      bottom: @dialog-bottom;
      box-sizing: border-box;
      margin-left: -@dialog-width / 2;
      padding: @dialog-padding;
      width: @dialog-width;
      text-align: center;
      background: @dialog-bg;
      border-radius: @dialog-radius;
    }

    .@{lib-name}-icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    &-title {
      padding: @dialog-title-padding;
      color: @dialog-title-color;
      font-size: @dialog-title-font-size;
    }

    &-content {
      padding: @dialog-content-padding;
      color: @dialog-content-color;
      font-size: @dialog-content-font-size;
      text-align: justify;
    }

    &-footer {
      display: flex;
      padding: @dialog-footer-padding;

      a {
        flex: 1 1 0;
        color: @dialog-btn-color;
        font-size: @dialog-btn-font-size;
        line-height: @dialog-btn-line-height;
        .a();
        .click();
      }

      span {
        width: @dialog-separate-width;
        background: @dialog-separate-bg;
      }
    }
  }
}